{% extends 'layout.html'%}

{% block title %} About {% endblock %}

{% block content %}
    <h1> About Our Blog Application </h1>
    <p>This blog platform is designed to be a user-friendly space for creativity and expression. Whether you're a writer, photographer, or someone with a story to tell, this application empowers you to:<br><br>

        Share beautifully formatted posts with images and text.<br>
        Connect with an audience that appreciates your perspective.<br>
        Enjoy a seamless and intuitive experience when creating and reading blogs.<br>
        Our mission is to provide a platform where everyone can share their unique stories and inspire others. Whether it’s a travel diary, a recipe, or your personal thoughts, your voice matters here.</p>
{% endblock %}

